<div class="container home">
  <div class="authentication">
    <p><%= link_to 'Create Account', '' %> | <%= link_to 'Sign In', '' %></p>
  </div>
	<div class="detail">
		<h1>Circle</h1>
		<p>Find yours here</p>
		<br/>
		<br/>
		<br/>
		<p><%= DateTime.now().strftime('%Y') %> &copy; <%= link_to 'LaunchPadLab', 'http://launchpadlab.com' %></p>
	</div>
</div>