.home {
	background: url(bg_home.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 	width: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	height: 100%;
 	font-family: 'Raleway', sans-serif;
 	color: white;
	a {
		text-decoration: none;
		color: #357cfa;
	}

	.detail {
		padding: 20px;
		position: fixed;
		bottom: 0;
	}
  h1 {
  	font-weight: 300;
  	font-size: 44px;
  }
}

.authentication {
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	right: 20px;
	padding: 0 10px;
	a { color: white; }
	border-radius: 0 0 5px 5px;
}

.authentication:hover {
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s; /* Firefox 4 */
	-webkit-transition: background-color 0.5s; /* Safari and Chrome */
	-o-transition: background-color 0.5s; /* Opera */
	background-color: rgba(53, 124, 250, 0.75);
}